<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        table {
            font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
            border-collapse: collapse;
            border-spacing: 5px;
            background: #d0caca;
            border-radius: 20px;
        }

        th {
            font-size: 22px;
            font-weight: 300;
            padding: 12px 10px;
            color: #070707;
        }

        td {
            padding: 10px;
            color: #111111;
        }

        .table td, .table th {
            border-top: 0;
            vertical-align: middle;
        }

        .main {
            text-align: center;
        }

        .table thead th {
            border-bottom: 0;
        }
    </style>

    <title>Todo List</title>
</head>
<body style=" background: rgba(220,146,93,0.77);">
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #8d4656;">
    <a class="navbar-brand" th:href="@{/index}">Todo List<span
            class="sr-only">(current)</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" style="color: white" th:href="@{/items}">Tasks<span
                    class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" th:if="${user.name == 'Guest'}" style="color: white" th:href="@{/registration}">Registration</a>
                        <a class="nav-item nav-link" style="color: white" th:if="${user.name == 'Guest'}" th:href="@{/loginPage}">
                            <span th:text="${user.name}"></span>
                            <span> | Sign in</span>
                        </a>
                        <a class="nav-item nav-link" style="color: white" th:if="${user.name != 'Guest'}" th:href="@{/logout}">
                            <span th:text="${user.name}"></span>
                            <span> | Sign out</span>
                        </a>
        </div>
    </div>
</nav>
<div class="container pt-3">
    <table class="table" style="width: 70%; margin: auto">
        <tr>
            <th style="text-align: center" colspan="5">Completed tasks for today</th>
        </tr>
        <tr>
            <th scope="col">User name</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
        </tr>
        <tr th:each="item: ${items}" th:if="${user.name == item.user.getName()}">
            <div th:if="${item.done == true}">
            <td th:text="${item.user.getName()}"></td>
            <td th:text="${item.name}"></td>
            <td th:text="${item.description}"></td>
            </div>
        </tr>
    </table>
</div>
<div class="container pt-3">
    <table class="table" style="width: 70%; margin: auto">
        <tr>
            <th style="text-align: center" colspan="5">Added tasks for today</th>
        </tr>
        <tr>
            <th scope="col">User name</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>

        </tr>
        <tr th:each="item: ${items}" th:if="${user.name == item.user.getName()}">
            <div th:if="${item.done == false}">
                <td th:text="${item.user.getName()}"></td>
                <td th:text="${item.name}"></td>
                <td th:text="${item.description}"></td>
            </div>
        </tr>
    </table>
</div>
</body>
</html>
