<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>

    <style>
        .bott {
            text-align: left;
        }

        .table thead th {
            vertical-align: top;
        }

        .navbar-toggler-icon {
            display: none;
        }

        .col {
            color: rgba(18, 140, 10, 0.99);
        }

    </style>
    <title>Todo List</title>
</head>
<body style=" background: rgba(16, 196, 239, 0.77);">
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #0379f6;">
    <a class="navbar-brand" th:href="@{/index}">Todo List<span
            class="sr-only">(current)</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" style="color: white" th:href="@{/items}">Tasks<span
                    class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" style="color: white" th:if="${user.name == 'Guest'}"
               th:href="@{/registration}">Registration</a>
            <a class="nav-item nav-link" style="color: white" th:if="${user.name == 'Guest'}" th:href="@{/loginPage}">
                <span th:text="${user.name}"></span>
                <span> | Sign in</span>
            </a>
            <a class="nav-item nav-link" style="color: white" th:if="${user.name != 'Guest'}" th:href="@{/logout}">
                <span th:text="${user.name}"></span>
                <span> | Sign out</span>
            </a>
        </div>
    </div>
</nav>

<div class="main">
    <br>

    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addModalLabel">New Task</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="data" method="post">
                        <input type="hidden" name="id" value="0"/>
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" name="name" id="name">
                        </div>
                        <div class="form-group">
                            <label for="description">Description</label>
                            <input type="text" class="form-control" name="description" id="description">
                        </div>
                        <div class="form-group">
                            <label for="category.id">Category</label>
                            <select class="form-control" id="category.id" name="category.id" multiple="multiple" size="4" required>
                                <option th:each="category : ${category}" th:value="${category.id}"
                                        th:text="${category.name}"></option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="send_candidate()">
                        Send
                    </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function send_candidate() {
        let formElement = document.getElementById("data");
        let data = new FormData(formElement);
        fetch("/createItem", {
            method: "POST",
            body: data
        }).then(res => {
                window.location.reload();
            });
    }
</script>


<div class="container pt-3">
    <div class="box">
        <table class="table">
            <thead>
            <div class="bott">
                <button type="button" class="btn btn-success" style="color: #ffffff; display: inline-block;"
                        data-toggle="modal"
                        data-target="#addModal">Add task
                </button>
            </div>
            <tr style="font-size: large">
                <th style="border: 0" scope="col">#</th>
                <th style="border: 0" scope="col">Name</th>
                <th style="border: 0" scope="col">Category</th>
                <th style="border: 0" scope="col">Date of creation</th>
                <th style="border: 0" scope="col">Status
                    <label>
                        <select onchange="location.href=/formItemCondition/+this.value">
                            <option th:each="choos : ${chooses}"
                                    th:value="${choos}"
                                    th:text="${choos}"
                                    th:if="${choos == selectedId}"
                                    selected="true">
                            </option>
                            <option th:each="choos : ${chooses}"
                                    th:if="${choos != selectedId || selectedId == null}"
                                    th:value="${choos}"
                                    th:text="${choos}">
                            </option>
                        </select>
                    </label>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item,itr: ${items}" style="font-size: large" th:if="${user.name == item.user.getName()}">
                <td th:text="${itr.index+1}" style="border: 0"></td>
                <td style="border: 0"><a class="col" th:href="@{|/formItemId/${item.id}|}">
                    <i th:href="@{/item.name}" th:text="${item.name}"></i>
                </a></td>
                <td style="border: 0">
                       <span th:each="category,iter : ${item.getCategory()}"
                             th:text="${category.name} + ${!iter.last ? ', ' : ''}"></span>
                </td>
                <td style="border: 0" th:text="${#temporals.format(item.created, 'dd-MM-yyyy HH:mm')}"></td>
                <td style="border: 0" th:if="${item.done == true}">Done</td>
                <td style="border: 0" th:if="${item.done != true}">New</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
